<div aria-hidden="true" class="navdrawer navdrawer-permanent" id="navdrawerPermanent" tabindex="-1">
  <h1>WagBag</h1>
  <hr>
  <div class="navigation-links">
    <%= link_to dashboard_path %>
  </div>
</div>
<div class="navbar-content">
  <div class="container">
    <h2>Hello</h2>
  </div>
</div>