// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'components/navbar';
@import 'components/flexgrid';

.active-stock-card {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    text-align: center;

    .card-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;

        p {
            font-size: 40px;
        }
    }
}

.latest-notes-card {
    .card-header {
        text-align: center;
        border: none;
        padding-bottom: 0;
    }

    .card-content {
        padding: 0 10px 10px 10px;
        height: 100%;

        table {
            margin: 0;
        }
    }
}